* {
	padding: 0px;
	margin: 0px;
}

.fondo {
	padding: 15px;
	background: #007eff;
	color: white;
	font-family: arial;
}

.margensuperior {
	margin-top: 15px;
}

.textoaladerecha {
	text-align: right;
}

.desconectar {
	text-decoration: none;
	color: #005682;
	background: #61c9ff;
	padding: 10px;
	border-radius: 5px;
}

.desconectar:hover {
	text-decoration: none;
	color: black;
	background: white;
	padding: 10px;
	border-radius: 5px;
}

.textocentrado {
	text-align: center;
}

.fondoimagen {
	border-radius: 10px;
	background: #363636;
	padding: 15px;
	margin-top: 15px;
}

.imagen:hover {
	opacity: 0.8;
}

hr {
	border-color: black;
}

.titulo {
	color: white;
	font-size: 20px;
	padding: 15px;
	background: black;
}

.pading {
	padding: 15px;
}

.borderradius {
	border-radius: 10px;
}

.traductor {
	font-size: 25px;
}

.traductor:hover {
	color: gray;
	text-decoration: none;
	font-size: 25px;
}

.boton {
	padding: 10px;
	color: white;
}

.boton:hover {
	border-radius: 10px;
	text-decoration: none;
	padding: 10px;
	background: white;
	color: black;
}

.prueba {
	background: gray;
}