* {
	padding: 0px;
	margin: 0px;
}

.fondo {
	background: #007eff;
	padding: 15px;
	color: #ffffff;
	font-family: tahoma;
	font-size: 25px;
}

.fondodos {
	background: #007eff;
	padding: 15px;
	color: white;
	font-family: tahoma;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

footer {
	width: 100%;
	bottom: 0;
	position: fixed;
	background: #007eff;
	padding: 15px;
	color: white;
}

.textocentrado {
	text-align: center;
}

hr {
	border-color: black;
}

.final {
	font-size: 20px;
}